html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    display: flex;
    text-align: center;
    background: #52b152;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
     /* background: #83c783;  */
    background: transparent; 
    /*background: -moz-radial-gradient(center, ellipse cover,  #83c783 0%, #52b152 29%, #008a00 55%, #005700 84%, #004400 96%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#83c783), color-stop(29%,#52b152), color-stop(55%,#008a00), color-stop(84%,#005700), color-stop(96%,#004400));
    background: -webkit-radial-gradient(center, ellipse cover,  #83c783 0%,#52b152 29%,#008a00 55%,#005700 84%,#004400 96%);
    background: -o-radial-gradient(center, ellipse cover,  #83c783 0%,#52b152 29%,#008a00 55%,#005700 84%,#004400 96%);
    background: -ms-radial-gradient(center, ellipse cover,  #83c783 0%,#52b152 29%,#008a00 55%,#005700 84%,#004400 96%);
    background: radial-gradient(ellipse at center,  #83c783 0%,#52b152 29%,#008a00 55%,#005700 84%,#004400 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c783', endColorstr='#004400',GradientType=1 );*/
  
  }
  
.score-panel {
    text-align: center;
    width: 345px;
     margin-bottom: 10px;  
    
    font-size: 35px;  
    color:  lightgreen;
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
   
}


.score {
    font-size: 35px; 
    color: lightgreen;
}
.timer {
    display: inline-block;
    margin: 0 1rem;
    color: #e9e9f1;
}
.overlay {
     position: fixed; 
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     /* background: white; */
     transition: opacity 500ms;visibility: hidden; 
     opacity: 0; 
     flex-direction: row; 
}

 .overlay:target { 
     visibility: visible; 
     opacity: 1; 
 } 
.player {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.modul1 {
    margin: 80px auto;
    padding: 20px 20px;
    background:green;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;  
    
    align-content: center;
    
}
.modul1 h1 {
    margin-top: 0;
    color:black;
    font-family: Tahoma, Arial, sans-serif;
}

.modul1 .player {
    text-align: center;
    vertical-align: middle;
    
}


.startButton {
   font-size: 35px; 
    background-color: lightgreen;
}
.restartButton {
    font-size: 35px; 
     background-color: lightgreen;
 }

.modul2 {
    margin: 50px auto;
    padding: 20px 20px;
    background:transparent;
    border-radius: 5px;
    width: 40%;
    height: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;  
    
    align-content: center;
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: white; */
    transition: opacity 500ms;
    visibility: hidden; 
    opacity: 0; 
    flex-direction: row; 
}
.modul2:target { 
    visibility: visible; 
    opacity: 1; 
} 
.modul2 h1 {
    margin-top: 0;
    color:white;
    font-family: Tahoma, Arial, sans-serif;
}
.show {
    visibility: visible !important;
    opacity: 100 !important;
}

.ladybug {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -13px;
    background: #000;
    border-radius: 25px;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.3);
  }
  
  .ladybug:before {
    width: 15px;
    height: 30px;
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    top: -1px;
    left: -3px;
    background: #ca1414;
    border-radius: 25px 0 0 25px;
    transform: rotate(-5deg);
  }
  
  .ladybug:after {
    width: 15px;
    height: 30px;
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    top: -1px;
    right: -3px;
    background: #ca1414;
    border-radius: 0 25px 25px 0;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  
  .ladybug i {
    display: block;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -5px;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 5px;
  }
  
  .ladybug i:before {
    display: block;
    position: absolute;
    content: '';
    bottom: -3px;
    left: -1px;
    z-index: 4;
    width: 4px;
    height: 4px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    border-radius: 6px;
  }
  
  .ladybug i:after {
    display: block;
    position: absolute;
    content: '';
    bottom: -3px;
    right: -1px;
    margin-left: -5px;
    z-index: 4;
    width: 4px;
    height: 4px;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
    border-radius: 6px;
  }
  
  .ladybug span:first-child {
    display: block;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 3;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 2px;
  }
  
  .ladybug span:first-child:before {
    display: block;
    position: absolute;
    content: '';
    left: 2px;
    top: -6px;
    z-index: 3;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 2px;
  }
  
  .ladybug span:first-child:after {
    display: block;
    position: absolute;
    content: '';
    left: 4px;
    top: 6px;
    z-index: 3;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 2px;
  }
  
  .ladybug span:last-child {
    display: block;
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 3;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 2px;
  }
  
  .ladybug span:last-child:before {
    display: block;
    position: absolute;
    content: '';
    right: 2px;
    top: -6px;
    z-index: 3;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 2px;
  }
  
  .ladybug span:last-child:after {
    display: block;
    position: absolute;
    content: '';
    right: 4px;
    top: 6px;
    z-index: 3;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 2px;
  }

  @media (max-width: 360px){
      canvas {
        width: 300px;
        height: 350px;
      }
      .score-panel {
        width: 100px;
        height: 50px;
        display: flex;
        text-align: center;
    flex-direction: row;
    justify-content: space-between;
        font-size: 14px;
    }
    .startButton {
        font-size: 25px; 
         
     }
     .restartButton {
         font-size: 25px; 
          
      }
    .player{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .modul1 {
        height: 80%;
        width: 80%;
        
    }
    .modul1 h1 {
        font-size: 1.5em; 
    }
    .buttonI{
        width: 60px;
        height: 100px;
    }
    .button2{
        width: 60px;
        height: 100px;
    }
    .button3{
        width: 60px;
        height: 100px;
    }
    .button4{
        width: 60px;
        height: 100px;
    }
    .button5{
        width: 60px;
        height: 100px;
    }
  }

  