html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    display: flex;
    text-align: center;
    background: green;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.score-panel {
    text-align: center;
    width: 345px;
     margin-bottom: 10px;  
    
    font-size: 35px;  
    color: black;
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
   
}


.score {
    font-size: 35px; 
    color: black;
}
.timer {
    display: inline-block;
    margin: 0 1rem;
    color: #e9e9f1;
}
.overlay {
     position: fixed; 
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     /* background: white; */
     transition: opacity 500ms;visibility: hidden; 
     opacity: 0; 
     flex-direction: row; 
}

 .overlay:target { 
     visibility: visible; 
     opacity: 1; 
 } 
.player {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.modul1 {
    margin: 80px auto;
    padding: 20px 20px;
    background:green;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;  
    
    align-content: center;
    
}
.modul1 h1 {
    margin-top: 0;
    color:black;
    font-family: Tahoma, Arial, sans-serif;
}

.modul1 .player {
    text-align: center;
    vertical-align: middle;
    
}
.show {
    visibility: visible !important;
    opacity: 100 !important;
}

.startButton {
   font-size: 35px; 
    background-color: lightgreen;
}