body {
    text-align: center;
    background: green;
    
}
.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    color: #e9e9f1;
}
.timer {
    display: inline-block;
    margin: 0 1rem;
    color: #e9e9f1;
}
.overlay {
     position: center; 
    background: white;
     transition: opacity 500ms; 
     visibility: hidden; 
     opacity: 0; 
    flex-direction: row;
}

 .overlay:target { 
     visibility: visible; 
     opacity: 1; 
 } 
.player {
    display: flex;
    flex-direction: row;
    
}

.modul1 {
    margin: 50px auto;
    padding: 20px 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 60%;
    height: 40%;
    position: center;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;  
    
}
.modul h1 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.modul .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(77, 6, 105);
}
.modul .close:hover {
    color: pink;
}
.modul .player {
    text-align: center;
    vertical-align: middle;
}
.show {
    visibility: visible !important;
    opacity: 100 !important;
}